table, tr, th, td {

    width: 600px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-collapse: collapse;
}

/* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  } */