body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../img/Zig-Zag.svg);
}

.container {
    max-width: 1000px;
    /* background-position: center; */
    /* align-content:center; */
    /* align-items: center; */
}

.container > article {
    border-top: 5px solid brown;
    border-bottom: 5px solid brown;
}

.layout {
    border-bottom: 5px solid brown;
}