html {
    font-size:62.5%; /* = (.625em) eller 10px */
    
}

.list {
    width: 50rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #292d7b;
    padding: 1rem;
    border-radius: 25px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.list h4 {
    color: #d7752c;
    font-size: 2.5rem;
    text-align: center;
}

.list h5 {
    font-size: 1.5rem;
    color: #9497db;
}

.list ul {
    color: white;
    list-style-image: url("../img/shop.svg");
}

.list li {
    font-size: 1.2rem;
}

.table
{
    font-size: 2.8rem;
    width: 40rem;
    overflow-x:scroll;
    /* display overflow-x: ; */
    
}

.table table {
    width: 200rem;

}

.table, table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

.table td
{
    padding: 1rem;
}

.table tr:hover {
    background-color: #ddd;
    /* animation-delay: 1s; */
    /* transition-delay: 0.5s; */
    transition: all 1s ease;
}

.table th {
    background-color: #292d7b;
    color: white;
}