:root{
    /* --green: green; */
}

body {
    /* background-color: var(--green); */
}

.chk_newplant{
    /* transform: translateX(0%); */
    /* display: none; */
}

.chk_newplant:checked ~ div > p{
  /* color: green; */
  /* background-color: red; */
  /* opacity: 0; */
  /* display:block; */
}

.chk_newplant:checked ~ div {
    display:block;
}

input[type="checkbox"]:checked 
{

}

/* Hide the toggle checkbox */
#expand-toggle {
    display: none;
  }
  
  /* Hide expandable content by default */
  form div ~ p ~ label + input {
    /* display: none; */
    /* visibility: collapse; */
    /* background: #ddd; */
  }

  /* article form  */
  
  div {
      display: none;
  }

  div > p {
    /* color: green; */
    /* background-color: red; */
    /* opacity: 0; */
    /* display: none; */
  }
  
  /* Style the button */
  #expand-btn {
    display: inline-block;
    margin-top: 12px;
    padding: 5px 11px;
    background-color: #ff7;
    border: 1px solid;
    border-radius: 3px;
  }
  
  /* Show hidden content when the checkbox is checked */
  #expand-toggle:checked ~ * .expandable {
    visibility: visible;
  }
  


  /* Style the button when the checkbox is checked */
  #expand-toggle:checked ~ #expand-btn {
    background-color: #ccc;
  }
  