body {
    margin: auto;
    width: 1200px;
    height: 150vh;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* ############ Header ############## */

body>header {
    display: inline-block;
    background-color: #CCCCCC;
    width: 1200px;
    height: 100px;
}

body>header>img:nth-of-type(1) {
    float: left;
    height: 100%;
}

body>header>img:nth-of-type(2) {
    float: right;
    height: 100%;
}


/* ############ Top ############## */

.top {
    height: 40px;
    /* color: white; */
    background-color: #565952;
    /* text-align: center; */
    font-weight: bold;
}

.top>ul {
    margin: 0;
    padding: 10px 0px;
}

.top>ul>li {
    /* list-style-type: none; */
    /* display: inline-block; */
    /* Display: block; */
    /* float: left; */
    /* padding: 15px; */
}

.top>ul>li {
    text-align: center;
    display: inline-block;
    border-right: 1px solid white;
    padding-left: 15px;
    padding-right: 15px;
}

.top>ul>li:last-child {
    border: none;
    text-align: center;
}

.top>ul>li>a {
    text-align: center;
}

.top>ul>li>a:link {
    padding: 10px;
}

.top>ul>li>a:hover {
    background-color: #CCCCCC;
    padding: 10px 10px;
    color: rgba(50, 54, 84, 0.8);
}

.top>ul>li::before {
    /* color: rgba(50, 54, 84, 0.8); */
    /* content: "\23F5"; */
}

.top>ul>li>a::before {
    content: "";
    border-color: transparent rgba(50, 54, 84, 0.8);
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: inline-block;
    margin-right: 10px;
}


/* ############ Side ############## */

nav.side {
    /* background-color: #CCCCCC; */
}

nav.side {
    float: left;
    background-color: #CCCCCC;
    height: calc(100% - 180px);
    width: 15%;
}

.side>ul {
    list-style-type: none;
    background-color: rgba(50, 54, 84, 0.8);
    margin: 0;
    padding: 0px 20px;
    /* Display: block; */
    /* float: left; */
}

.side>ul>li {
    border-bottom: 1px solid white;
    padding: 15px 30px;
    /* float: left; */
    /* padding: 15px; */
}

.side>ul>li:last-child {
    border: none;
}

.side>ul>li>a:hover {
    font-weight: bolder;
}

a {
    color: white;
    text-decoration: none;
}


/* ############ Main ############## */

body>main>section:nth-of-type(1) {
    float: left;
    max-width: 40%;
    margin-left: 10px;
    /* padding: 15px; */
}

body>main>section:nth-of-type(2) {
    float: right;
    max-width: 40%;
    margin-right: 10px;
}

body>main>section:nth-of-type(1)>article:nth-of-type(1) {
    /* float: left; */
    height: 430px;
}

body>main>section:nth-of-type(1)>article:nth-of-type(2) {
    /* float: left; */
    height: 430px;
}

body>main>section:nth-of-type(2)>article:nth-of-type(1) {
    /* float: left; */
    height: 430px;
}

body>main>section:nth-of-type(2)>article:nth-of-type(2) {
    /* float: left; */
    height: 430px;
}

article img {
    float: left;
    padding: 0px 20px 0px 0px;
    width: 100px;
}

p {
    margin: 0;
}

p:first-of-type {
    /* font-weight: bold; */
    font-size: 1.1rem;
    color: rgba(21, 29, 83, 0.8);
}

h2 {
    color: #565952;
    border-bottom: 1px solid #565952;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}


/* ############ Footer ############## */

body>footer {
    height: 40px;
    width: 1200px;
    background-color: #565952;
    color: white;
    text-align: center;
    display: inline-block;
    /* float: left; */
}