body {
    margin: auto;
    max-width: 1200px;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: inline-block;
    width: 1200px;
    height: 100px;
}

header img:first-child {
    float: left;
    height: 100%;
}

header img:last-child {
    float: right;
    height: 100%;
}

header,
.side {
    background-color: #CCCCCC;
}

.top a:before {
    content: "";
    border-color: transparent rgba(50, 54, 84, 0.8);
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: inline-block;
    margin-right: 10px;
}

.top {
    max-height: 40px;
    color: white;
    background-color: #565952;
    text-align: center;
    font-weight: bold;
}

.top ul {
    margin: 0;
    padding: 10px 0px;
}

.top li {
    display: inline-block;
    border-right: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
}

.top li:last-child {
    border: none;
}

.top a:link {
    padding: 10px;
}

.top a:hover {
    background-color: #CCCCCC;
    padding: 10px 10px;
    color: rgba(50, 54, 84, 0.8);
}

.side {
    float: left;
    height: 100vh;
    width: 15%;
}

.side ul {
    background-color: rgba(50, 54, 84, 0.8);
    list-style: none;
    margin: 0;
    padding: 0px 20px;
}

.side li {
    border-bottom: 1px solid white;
    padding: 15px 30px;
}

.side li:last-child {
    border: none;
}

.side a:hover {
    font-weight: bolder;
}

a {
    color: white;
    text-decoration: none;
}

section:first-child {
    max-width: 40%;
    float: left;
    margin-left: 10px;
}

section:last-child {
    max-width: 40%;
    float: right;
    margin-right: 10px;
}

article {
    height: 430px;
}

article img {
    float: left;
    padding: 0px 20px 0px 0px;
    width: 100px;
}

p {
    margin: 0;
}

p:first-of-type {
    font-weight: bold;
    font-size: 1.1rem;
    color: rgba(21, 29, 83, 0.8);
}

h2 {
    color: #565952;
    border-bottom: 1px solid #565952;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

footer {
    width: 1200px;
    height: 40px;
    background-color: #565952;
    display: inline-block;
    text-align: center;
}