/* UTILITY ################################################## */
.to-uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bolder;
  }

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.container {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    flex-flow:row wrap;
    justify-content:center;
    align-content:flex-start;
}

/* GENERAL STYLING ########################################## */
.layout {
    background-color: hsl(196, 56%, 16%);
}

.layout > header > h1 {
    color: hsl(196, 56%, 86%);
    /* align-self: center; */
    /* order: 1; */
}

.layout > header > h1 > span{
    color: hsl(21, 73%, 56%);
    /* align-self: center; */
    /* order: 2; */
}

.layout > header > h2 {
    /* gap: 10px; */
    padding: 0px 25px;
    color:hsl(196, 56%, 86%);
    /* align-content: center; */
    align-self: center;
    /* order: 3; */
    font-size: 1.1rem;
}

.roboto300 {
    font-family: "Roboto";
    /* font-size: 3rem; */
    font-weight: 300;
}

.roboto400 {
    font-family: "Roboto";
    /* font-size: 3rem; */
    font-weight: 400;
}

.roboto700 {
    font-family: "Roboto";
    /* font-size: 3rem; */
    font-weight: 700;
}

/* button {
    color: var(--primary);
    font-size: 20px;
    background-color: var(--orange);
    border: 1px solid #ff5b1f;
    border-radius: 40px;
    padding: 20px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  } */
  
  /* button:hover {
    cursor: pointer;
  } */

/* NAVIGATION MENU ########################################## */

.navigation {
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    flex-flow: row wrap;
    justify-content:center;
    gap: 70px;
    list-style: none;
    margin: 0; 
    background: hsl(188, 100%, 36%);
    align-items: center;
}

.navigation > ul {
    /* justify-content:space-evenly; */
    /* justify-content: space-around; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
}

.navigation > ul > li {
    /* justify-content: space-around; */
    /* align-self: center; */
}
  
.navigation a {
    text-decoration: transparent underline;
    text-align: center;
    display: block;
    padding: 1em;
    color: hsl(196, 56%, 86%);
    
}
  
.navigation a:hover {
    background: hsl(188, 100%, 26%);
    text-decoration:  underline;
    transition: all 0.5s ease;
}
  
/* @media all and (max-width: 800px) { */
    /* .navigation {
      justify-content: space-around;
    } */
  /* } */
  
/* @media all and (max-width: 600px) { */
    /* .navigation {
      flex-flow: column wrap;
      padding: 0;
    }
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
      border-bottom: none;
    } */
  /* } */
