.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.container {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    flex-flow:row wrap;
    justify-content:center;
    align-content:flex-start;
}

.layout {
    
}

.layout > header > h1 {
    color: hsl(196, 56%, 86%);
    /* align-self: center; */
    /* order: 1; */
}

.layout > header > h1 > span{
    color: hsl(21, 73%, 56%);
    /* align-self: center; */
    /* order: 2; */
}

.layout > header > h2 {
    color:hsl(196, 56%, 86%);
    /* align-self: center; */
    /* order: 3; */
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    
    list-style: none;
    margin: 0; 
    background: deepskyblue;
}
  
.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}
  
.navigation a:hover {
    background: #1565C0;
}
  
/* @media all and (max-width: 800px) { */
    /* .navigation {
      justify-content: space-around;
    } */
  /* } */
  
/* @media all and (max-width: 600px) { */
    /* .navigation {
      flex-flow: column wrap;
      padding: 0;
    }
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
      border-bottom: none;
    } */
  /* } */

.roboto300 {
    font-family: "Roboto";
    /* font-size: 3rem; */
    font-weight: 300;
}

.roboto400 {
    font-family: "Roboto";
    /* font-size: 3rem; */
    font-weight: 400;
}

.roboto700 {
    font-family: "Roboto";
    /* font-size: 3rem; */
    font-weight: 700;
}