div.parent {
    position: relative;
    width: 400px;
    height: 200px;
}

.parent >:nth-child(1) {
    position: absolute;
    z-index: 6;
    top: 0px;
    left: 0px;
}

.parent >:nth-child(2) {
    position: absolute;
    z-index: 5;
    top: 30px;
    left: 30px;
}

.parent >:nth-child(3) {
    position: absolute;
    z-index: 4;
    top: 60px;
    left: 60px;
}

.parent >:nth-child(4) {
    position: absolute;
    z-index: 3;
    top: 90px;
    left: 90px;
}

.parent > :nth-child(5) {
    position: absolute;
    z-index: 2;
    top: 120px;
    left: 120px;
}

.parent > :nth-child(6) {
    background-color: hsla(39, 100%, 50%, 0.7);
    /* height: 100px; */
    line-height: 90px;
    color: purple;
    font-size: 3.5rem;
    position: absolute;
    z-index: 7;
    top: 120px;
    left: 45px;
    width: 320px;
    text-align: center;
}

div.parent2 {
    top: 100px;
    position: relative;
    height: 200px;
    width: 200px;
    z-index: 1;
}

div.parent2 > img:nth-child(1) {
    display:block;
    top: 0px;
    left: 0px;
    position: absolute;
    /* visibility:hidden; */
    z-index: 2;
}

div.parent2 > img:nth-child(2) {
    display: block;
    top: 0px;
    left: 0px;
    position: absolute;
    /* visibility: none; */
    z-index: 3;
}

div.parent2:hover > img:nth-child(2) {
    display: none;
    top: 0px;
    left: 0px;
    position: absolute;
    /* visibility: none; */
    z-index: 4;
}

/* div.parent2 > img:nth-child(2):hover {
    display: none;
    top: 0px;
    left: 0px;
    position: absolute;
    visibility: none;
    z-index: 4;
} */

/* div.parent2 > img:nth-child(2):hover + img:nth-of-type(1) { */
    /* display: block; */
    /* top: 1px; */
    /* left: 1px; */
    /* position: absolute; */
    /* visibility: none; */
    /* z-index: 2; */
/* } */

/* .parent2 > img:nth-of-type(2):hover + img:nth-of-type(1) { */
    /* display: block;
    top: 0px;
    left: 0px;
    position: absolute;
    visibility: none;
    z-index: 2;
} */

div#div1 {
    /* height: 200px; */
    top: 150px;
    position: relative;
    /* background-position:bottom; */
    /* background-position: right; */
    background-color: yellow;
    padding: 20px;
    /* display: none; */
    display: block;
    z-index: 1;
}

span#span1, span#span1:hover + div#div1 {
    top: 170px;
    /* height: 200px; */
    /* background-position: right; */
    /* align-content: center; */
    position: relative;
    /* background-position:bottom; */
    display: block;
    z-index: 2;
}

/* div#div1 { */
    /* height: 200px; */
    /* top: 150px; */
    /* position: relative; */
    /* background-position:bottom; */
    /* background-position: right; */
    /* background-color: yellow; */
    /* padding: 20px; */
    /* display: none; */
    /* display: block; */
    /* z-index: 1; */
/* } */



/* span#span1 { */
    /* position: relative;
    top: 140px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: -2px;
} */

/* span#span1 + span#span1:hover + div#div1 { */
    /* top: 140px; */
    /* height: 200px; */
    /* background-position: right; */
    /* align-content: center; */
    /* position: relative; */
    /* background-position:bottom; */
    /* display: block; */
/* } */

/* span:hover + div {
    display: block;
} */

/* span#span1:hover + div#div1 { */
    /* top: 140px; */
    /* height: 200px; */
    /* background-position: right; */
    /* align-content: center; */
    /* position: relative; */
    /* background-position:bottom; */
    /* display: block; */
/* } */

/* span#span1 { */
    /* top: 140px; */
    /* height: 200px; */
    /* background-position: right; */
    /* align-content: center; */
    /* position: relative; */
    /* background-position:bottom; */
    /* display: block; */
/* } */

.h3 {
    position: relative;
    top: 190px;
}

.styled-table2 {
    position: relative;
    top: 200px;
    display: inline;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table2 thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table2 th,
.styled-table2 td {
    padding: 12px 15px;
}

.styled-table2 tbody tr {
    border-bottom: 1px solid #dddddd;
    color: #111;
}

.styled-table2 tbody tr:nth-of-type(even) {
    background-color: #bbb;
}

.styled-table2 tbody tr:nth-of-type(odd) {
    background-color: #f3f3f3;
}

.styled-table2 tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-table2 tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}